/* Containers */
.containerMain {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 30px 0 50px 0;
}

.containerCategories {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  margin: 30px 0 0 0;
}

.containerCategories h2 {
  margin-left: 20px;
  margin-top: 30px;
  font-size: 35px;
  font-weight: bold;
  width: 100%;
}

.containerCategories h4 {
  margin: 50px 0 5px 20px;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, min(min(100%, 33%)));
  transition: all 0.8s ease;
  width: 100%;
  margin: 90px 0 0 0;
}

/* General */
.currentCategory {
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  margin: 0 0 0px 30px;
}

.buttonCategorie {
  margin: 0 20px 20px 20px;
}

.buttonCategorieTodos {
  margin: 80px 20px 20px 20px;
}

.hide {
  display: none;
}

.inputPrice1 {
  max-width: 55px;
  min-height: 30px;
  border: 1px solid rgb(255, 196, 0);
  margin-left: 20px;
}

.inputPrice2 {
  max-width: 55px;
  min-height: 30px;
  border: 1px solid rgb(255, 196, 0);
  margin-left: 11px;
  margin-right: 10px;
}

.buttonPrice {
  cursor: pointer;
}

/* Responsive */

@media only screen and (max-width: 900px) {
  .cardContainer {
    grid-template-columns: repeat(auto-fill, min(min(100%, 33%)));
  }  

  .containerMain {
    margin: -50px 0 50px 0;
  }
}

@media only screen and (max-width: 700px) {
  .cardContainer {
    grid-template-columns: repeat(auto-fill, min(min(100%, 50%)));
  }  
  .inputPrice2 {
    margin-left: 20px;
    margin-top: 15px;
  }
  .buttonCategorie {
    width: 100px;
  }
}

@media only screen and (max-width: 450px) {
  .buttonCategorie {
    width: 80px;
    display: flex;
    flex-wrap: wrap;
    font-size: .9rem !important;
  }  

  .buttonCategorieTodos {
    width: 60px;
  }

  .buttonPrice {
    margin-left: 40px;
  }

  .containerCategories h2 {
    font-size: 30px;
  }

}