.landingVideo{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;  
  width: 100vw; 
  height: 100vh;
  object-fit: cover;
}

.containerLanding {  
 display: flex;
 justify-content: center;
 align-items: center;
}

.buttonToHome {
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 2rem;
  transition: all 0.7s ease;
  background-color: #f46337;
  font-weight: bolder;
  margin-top: 50vh;
}

.buttonToHome:hover {
  font-size: 2.5rem;
  color: #f46337;
  background-color: black;
  font-weight: bolder;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .containerLanding {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .buttonToHome {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  .buttonToHome {
    font-size: 1.3rem;
  }
} 