.styledMarked {
  background-color: yellow;
  font-weight: bolder;
  border-radius: 2px;
}

.styledItem {
  color: black;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: .4rem;
}

.styledItem img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.styledItem:hover {
  background: #4c91ba;
  color: white;
}

.styledItem:hover span {
  color: black;
}