.containerPromotion {
  cursor: pointer;
}

.imgCarousel {
  width: 100%;
  height: 22rem;
  display: block;
}

.terminosCondiciones {
  position: relative;
  top: 55px;
}

.hideCarousel {
  display: none;
}



