.containerPromotion {
  cursor: pointer;
}

.imgCarousel {
  width: 100%;
  height: 50vh;
  display: block;
}

.terminosCondiciones {
  position: relative;
  top: 55px;
}

.hideCarousel {
  display: none;
}

@media only screen and (max-width: 500px) {
  .imgCarousel {
    height: auto;
    object-fit: cover;
  }
}


