/* General */

.quantityResults {
  color: black;
  font-size: 20px;
  margin-right: 10px;
  text-align: center;
}

.conatinerResults {
  position: absolute;
  background-color: rgb(228, 225, 225);
  z-index: 100;
  margin-top: -3vh;
}

.inputSearch {
  margin-top: 15px;
}

.buttonSearch {
  margin-top: 15px;
  margin-left: 5px;
}



/* Responsive SearchBar */

@media only screen and (max-width: 1200px) {
  .inputSearch {
    width: 40vw !important;
  }

  .buttonSearch {
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .inputSearch {
    font-size: .8rem !important;
    margin-top: 20px;
  }

  .buttonSearch {
    margin-left: -5px;
    margin-top: 20px;
  }
}

