.titleSections {
  margin: 100px 0 10px 30px;
  font-weight: bolder;
  font-size: 35px;
}

.cardsContainer {
  padding: 0 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  gap: 2%;
}

.card1 {
  background-image: url('../../assets/images/Pantalones.webp');
}

.card2 {
  background-image: url('../../assets/images/Camisa.webp');
}

.card3 {
  background-image: url('../../assets/images/Falda.webp');
}

.card4 {
  background-image: url('../../assets/images/sudadera.webp');
}

.card5 {
  background-image: url('../../assets/images/Vestido.webp');
}

.card6 {
  background-image: url('../../assets/images/servicios.webp');
}

.card1,
.card6 {
  width: 50%;
  height: 300px;
  padding: 20px;
  position: relative;
  transition: opacity .3s linear; 
  object-fit: cover;
  overflow: hidden;
  background-position: 50%;
  background-size: cover;
  cursor: pointer;
}

.card2,
.card3,
.card4,
.card5 {
  width: 25%;
  height: 300px;
  padding: 20px;
  position: relative;
  transition: opacity .3s linear; 
  object-fit: cover;
  background-size: cover;
  overflow: hidden;
  background-position: 50%;
  cursor: pointer;
}



.cardsContainer h2 {
  font-size: 23px;
  color: white;
  background: black;
  opacity: .8;
  padding: 3px;
  position: absolute;
  top: 0%;
  left: 0%;
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover,
.card5:hover,
.card6:hover {
  opacity: 40%;
}

/* Responsive */
@media (max-width: 650px) {
  .cardsContainer span {
    font-size: 0.8rem;
  }

  .cardsContainer {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
  }

  .card1,
  .card6,
  .card2,
  .card3,
  .card4,
  .card5 {
    flex-grow: 1;
    max-width: 300px;
  }

  .titleSections {
    margin: 40px 0 10px 30px;
  }
}

@media (max-width: 420px) {
  .titleSections {
    font-size: 30px;
  }
}

