/* General */
.titleImage {
  display: block;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 8px rgba(255, 0, 0, 0.8);
  font-weight: bolder;
  transition: all 0.3s ease-in-out;
  color: white;
}

.titleSections {
  margin: 100px 0 10px 30px;
  font-weight: bolder;
}

.hideSections {
  display: none;
}

/* Containers */
.mainContainer {
  margin-bottom: 150px;
  width: 100%;
}

.containerSections {
  width: 100%;
  display: flex;
  padding-right: 30px;
  margin: 0;
  box-sizing: border-box;
}

.containerServicios,
.containerPantalones,
.containerFaldas,
.containerVestidos {
  position: relative;
}

.containerImg3Y4 {
  display: flex;
  flex-direction: column;
  width: 30%;
}

/* Imagenes */

.vestidosImg {
  height: 400px;
  padding: 10px 7px 20px 30px;
  cursor: pointer;
  object-fit: cover;
}

.pantalonesImg {
  height: 400px;
  padding: 10px 7px 20px 7px;
  cursor: pointer;
  object-fit: cover;
}

.faldasImg {
  height: 200px;
  width: 100%;
  padding: 10px 10px 7px 7px;
  cursor: pointer;
  object-fit: cover;
}

.serviciosImg {
  height: 200px;
  width: 100%;
  padding: 7px 10px 20px 7px;
  cursor: pointer;
  object-fit: cover;
}

.containerVestidos:hover img, .containerPantalones:hover img, .containerFaldas:hover img, .containerServicios:hover img {
  opacity: 40%;
}

/* Responsive */

@media only screen and (max-width: 900px) {
  .containerSections {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin: 0 2%;
  }

  .containerImg3Y4 {
    flex-direction: row;
    gap: 20px;
    width: 100%;
  }

  .serviciosImg,
  .faldasImg,  
  .pantalonesImg,
  .vestidosImg {
    width: 350px;
    height: 350px;
    padding: 0;
  }

  .titleImage {
    font-size: 1.5rem;
  }

}

@media only screen and (max-width: 750px) {
  .serviciosImg,
  .faldasImg,  
  .pantalonesImg,
  .vestidosImg {
    width: 250px;
    height: 250px;
  }

}

@media only screen and (max-width: 500px) {
  .serviciosImg,
  .faldasImg,  
  .pantalonesImg,
  .vestidosImg {
    width: 150px;
    height: 150px;
  }

  .titleImage {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 400px) {
  .serviciosImg,
  .faldasImg,  
  .pantalonesImg,
  .vestidosImg {
    width: 120px;
    height: 120px;
  }
}
